p{
  word-wrap: break-word
}

table tr {
  text-align: center;
  padding: 15px;
}
table td{
  padding: 10px;
}

table tr:first-child {
  color: #7C7C7C;
}
a.action{
  background-color: #000;
  color: #fff;
  padding: 10px 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  border: unset;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

button{
  width:100%;
  background-color: #000;
  color: #fff;
  padding: 10px 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  border: unset;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  text-decoration: none;
}

input {
  border: none;
  border-bottom: solid 2px #868686;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  padding-bottom: 8px;
  display: block;
  height: 24px;
  margin: 40px 0;
  width: 100%;
}

.OpButton{
  background-color: #000;
  color: #fff;
  padding: 5px 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  border: unset;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
}

.pageTitle{
  margin-top: 0;
  color: #7c7c7c;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: 'https://fonts.googleapis.com/css?family=Roboto&display=swap'
}
